*.zip
src/*
*.pmtiles*
*.fgb

node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

dist
.vite

lib
build
out
declaration
.dts.cache

.vscode/
.idea/
*.swp
*.swo
*.asv
.DS_Store

*.log
tmp/
temp/
__pycache__/
*.py[cod]
*$py.class

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

coverage/

.history
